/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    
}

.navbar{
    height: 60px;;
    padding: 10px 15px;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
    left: 0px;
}
.logo{
    width: 150px;
    float: left;
    margin-top: 5px;
}

ul{
    padding-right: 15px;
}
.menu{
    float: left;
    margin-right: 20px;
    text-decoration: none;
    list-style-type: none;
    color: #1A1A1A;
}
.links-nav{
    float: right;
}

a{
    text-decoration: none;
    color: #1A1A1A;
}

.banner1{
    background-image: url(../images/landing.jpg);
    background-size: 100%;
    background-position: center;
}

h2{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 64px;
    padding-top: 25%;
    margin-bottom:-10px;
}

.banner1 p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 25%;
}

h3{
    text-align: center;
    margin-top: 5%;
    font-size: 24px;
    font-weight: 500;
}

.second-section{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.boxes-selling-points{
    float: left;
    width:33%;
    margin-top: 5%;
}

.icons{
    width: 35%;
    display: block;
    align-items: center;
    margin: auto;
}

h4{
    text-align: center;
    color: #00B172;
    font-size: 20px;
    font-weight: 500;
}

.boxes-selling-points p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 200;
}

.kanye-section{
    display: flex;                
    justify-content: space-between;  
    align-items: center;          
    background-color: #00B172;    
    padding: 10%;                  
    height: 550px;
}

.kanye-section h4{
    text-align: left;
    text-decoration: underline;
    display: block;
    color: white;
    font-size: 34px;;
    white-space: nowrap;
}

.app-picture{
    width: 25%;
    height: auto;  
}

.kanye-01{
    width: 30%;
    float: left;
}

.spotify-icon{
    max-width: 100%;              
    height: auto;                    
}

.kanye-section p{
    color: white;
    font-weight: 200;
}

.kanye-section h5{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.spotify-icon-parent{
    width: 10%;                   
    display: flex;                
    justify-content: center;      
    align-items: center;  
}